
<h2  id="personagens" class="pers-titulo">PERSONAGENS</h2>

<section class="pers">
  <div id="carouselExampleControls" class="carousel slide"  data-bs-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <section class="modal-desc">
    <div class="pers-desc">
    <h2 class="pers-nome">SERGE</h2>
    <p class="texto-pers">O Protagonista, Nascido de Marge e Wazuki da vila de pescadores de Arni<br/> 
        no arquipélago de El Nido, a existência de Serge é uma contradição entre as dimensões.
    
    </p>
</div>
</section>
        <img class="d-block w-100" src="https://i.ytimg.com/vi/UQBJTUxCNsI/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLBy7GHvEbzhF-AtqKQlZ1vDcpfjGg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://assets1.ignimgs.com/thumbs/userUploaded/2021/12/2/chronocrossxanotheredencollaborationtrailerignblogroll-1638476069385.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://www.supersoluce.com/sites/default/files/logo1/vignette-chrono-cross-histoire-principale.jpg" alt="Third slide">
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>
</section>

<section class="modal-desc">
    <div class="pers-desc">
    <h2 class="pers-nome">SERGE</h2>
    <p class="texto-pers">O Protagonista, Nascido de Marge e Wazuki da vila de pescadores de Arni<br/> 
        no arquipélago de El Nido, a existência de Serge é uma contradição entre as dimensões.
    
    </p>
</div>
</section>
