
<h2  id="personagens" class="pers-titulo">PERSONAGENS</h2>

<section class="pers">
  <div id="carouselExampleControls" class="carousel slide"  data-bs-interval="false">
    <div class="carousel-inner">
      @for (personagem of personagens; track $index) {
        <div [ngClass]="$index==0? 'active': ''" class="carousel-item">
        <img class="d-block w-100" [src]="personagem.img" alt="First slide">
        </div>
      }
   
    </div>

    <a (click)="prevPersonagem()" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a (click)="nextPersonagem()" class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>
</section>

  <section class="modal-desc">
    <div class="pers-desc">
    <h2 class="pers-nome">{{personagemSelecionado.nome}}</h2>
    <p class="texto-pers">{{personagemSelecionado.descricao}}
    
    </p>
</div>
</section>



